@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

:root {
    --background-color: #fff;
    --card-color: #f5f4f4;
    --text-color: #1A3154;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
}

h1 {
    color: var(--text-color);
    font-size: 4vw;
    margin: 3vw;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.container {
    gap: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}


.foto img {
    padding: 2vw;
    width: 50vw;
    border-radius: 0.5vw;
    background-color: var(--card-color);
    box-shadow: 8px 14px 34px -4px rgba(0, 0, 0, 0.63);
}

@media screen and (max-width: 768px) and (orientation: portrait){

    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1{
            margin: 5vw;
            font-size: 10vw;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        padding-bottom: 15vh;
    }

    .foto img {
        width: 90vw;
        align-items: center;
        height: auto;
        border-radius: 2vw;
        padding: 3vw;

    }


}