@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

:root {
    --background-color: #fff;
    --card-color: #f5f4f4;
    --text-color: #1A3154;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;
    /* background-image: url('../images/bg-image.png');
    background-position: center;
    background-size: cover; */
    background-color: var(--background-color);
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 90vh;

    h1 {
        color: var(--text-color);
        font-size: 4vw;
    }
}

.container {
    display: grid;
    margin: 0 auto;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
    height: 27vw;
    background-color: var(--card-color);
    border-radius: 0.5vw;
    color: var(--text-color);
    box-shadow: 8px 14px 34px -4px rgba(0, 0, 0, 0.63);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.025);
     box-shadow: 8px 14px 36px 10px rgba(0, 0, 0, 0.63);
}


.card img {
    width: 20vw;
}

/* -------------------------------------------------------- */

@media screen and (max-width: 768px) {

    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1{
            margin: 5vw;
            font-size: 10vw;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        padding-bottom: 10vh;
    }

    .card {
        width: 70vw;
        align-items: center;
        height: auto;
        border-radius: 2vw;

        img {
            width: 65vw;
        }
    }


}