@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

:root {
  --cor_texto: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #677284;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}


.bg_cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

button {
  /* background: #06c545; */
  background: #793CBD;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

/*===== All Button Style =====*/
.section_title .title {
  font-size: 40px;
  font-weight: 700;
}


.section_title.section_title_2 .title {
  color: #fff;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 15px 0;
}

.navbar {
  padding: 20px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


.sticky .navbar-toggler .toggler-icon {
  background-color: #793CBD;
}

.sticky .navbar-nav .nav-item a {
  color: #793CBD;
}


/*===== SLIDER =====*/
.single_slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* border-bottom-left-radius: 200px; */

}

.single_slider::before {
  position: absolute;
  content: '';
  /* background-color: rgba(26, 49, 84, 0.52); */
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slider_content {
  padding-top: 50px;
}

.slider_content .slider_title {
  font-size: 60px;
  color: #fff;
  margin-top: 15px;
}



.slider_content p {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  max-width: 550px;
}

.slider_content .main-btn {
  margin-top: 45px;
}

/*===========================
      03.FEATUREAS css 
===========================*/
.single_features .features_image img {
  width: 100%;
  border-radius: 40px;
}

.single_features .features_content .features_title a {
  font-size: 30px;
  font-weight: 600;
  color: #793CBD;
  margin-top: 30px;
}

/*===========================
       04.ABOUT css 
===========================*/
.about_area {
  margin-top: -150px;
  position: relative;
  z-index: 5;
}

.about_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  padding-right: 280px;
}

.about_bg .about_bg_image {
  width: 100%;
  height: 100%;
}

.about_image img {
  width: 100%;
  border-radius: 40px;
  border-bottom-right-radius: 0;
}

.about_content {
  padding-left: 45px;
}

.about_content .sub_title {
  font-size: 38px;
  font-weight: 400;
  position: relative;
}

.about_content .sub_title::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 100%;
  left: -45px;
  top: 0;
  background-color: #1A3154;
}

.about_content .sub_title span {
  font-size: 70px;
  font-weight: 800;
  color: #FFB316;
}

.about_content .main_title {
  font-size: 40px;
  margin-top: 25px;
}

.about_content p {
  margin-top: 25px;
}

.about_content .main-btn {
  margin-top: 45px;
}

.container-parceiro {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;

  h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
}

.parceiro-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}







.single_info {
  margin-top: 30px;
}

.single_info .info_icon i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #FFB316;
  color: #fff;
}

.single_info .info_content {
  padding-left: 15px;
}

.single_info .info_content p {
  margin-top: 0;
}

/*===========================
       12.FOOTER css 
===========================*/
.footer_area {
  position: relative;
  z-index: 5;
  overflow: hidden;
  /* border-top-left-radius: 150px; */
}

.footer_area::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #793CBD;
  width: 100%;
  height: 100%;
  z-index: -1;
}



.footer_widget img {
  max-width: 10vw;
}

.footer_about p {
  margin-top: 25px;
  color: #fff;
}

.footer_title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.footer_link_wrapper .footer_link {
  width: 33.33%;
}

.footer_link_wrapper .footer_link .link {
  padding-top: 25px;
}

.footer_link_wrapper .footer_link .link li {
  margin-top: 10px;
}

.footer_link_wrapper .footer_link .link li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}



.collapse {
  display: none;
}

.collapse.show {
  display: block;
}